body {
    margin: 0px;
}

.target {
    background-color: royalblue;
}

.Global-box {
    column-gap: 40px;
    width: 100%;
    height: 400px;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.box {
    background-color: dodgerblue;
    width: 250px;
    height: 150px;
    align-content: center;
}